<a href="https://colab.research.google.com/github/niteshavagabond/Hotel-Booking-analysis/blob/main/Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [58]:
# importing libararies
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime 
from datetime import date
%matplotlib inline

In [59]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:
# Data 
hotel_booking_df= pd.read_csv('/content/drive/MyDrive/AlmaBetter/Hotel Booking Analysis - Nitesh Verma/Hotel Bookings.csv')

# Exploring data

In [61]:
hdf=hotel_booking_df.copy()

In [62]:
hdf.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [63]:
hdf.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [64]:
hdf.shape

(119390, 32)

In [65]:
hdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [66]:
hdf.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [67]:
hdf.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

# Exploring every column of database, try to analyse and taking notes

In [68]:
# 0th column
hdf['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [69]:
# 1st column
hdf['is_canceled'].unique()

array([0, 1])

In [70]:
#2nd column
hdf['lead_time'].unique()

array([342, 737,   7,  13,  14,   0,   9,  85,  75,  23,  35,  68,  18,
        37,  12,  72, 127,  78,  48,  60,  77,  99, 118,  95,  96,  69,
        45,  40,  15,  36,  43,  70,  16, 107,  47, 113,  90,  50,  93,
        76,   3,   1,  10,   5,  17,  51,  71,  63,  62, 101,   2,  81,
       368, 364, 324,  79,  21, 109, 102,   4,  98,  92,  26,  73, 115,
        86,  52,  29,  30,  33,  32,   8, 100,  44,  80,  97,  64,  39,
        34,  27,  82,  94, 110, 111,  84,  66, 104,  28, 258, 112,  65,
        67,  55,  88,  54, 292,  83, 105, 280, 394,  24, 103, 366, 249,
        22,  91,  11, 108, 106,  31,  87,  41, 304, 117,  59,  53,  58,
       116,  42, 321,  38,  56,  49, 317,   6,  57,  19,  25, 315, 123,
        46,  89,  61, 312, 299, 130,  74, 298, 119,  20, 286, 136, 129,
       124, 327, 131, 460, 140, 114, 139, 122, 137, 126, 120, 128, 135,
       150, 143, 151, 132, 125, 157, 147, 138, 156, 164, 346, 159, 160,
       161, 333, 381, 149, 154, 297, 163, 314, 155, 323, 340, 356, 142,
       328, 144, 336, 248, 302, 175, 344, 382, 146, 170, 166, 338, 167,
       310, 148, 165, 172, 171, 145, 121, 178, 305, 173, 152, 354, 347,
       158, 185, 349, 183, 352, 177, 200, 192, 361, 207, 174, 330, 134,
       350, 334, 283, 153, 197, 133, 241, 193, 235, 194, 261, 260, 216,
       169, 209, 238, 215, 141, 189, 187, 223, 284, 214, 202, 211, 168,
       230, 203, 188, 232, 709, 219, 162, 196, 190, 259, 228, 176, 250,
       201, 186, 199, 180, 206, 205, 224, 222, 182, 210, 275, 212, 229,
       218, 208, 191, 181, 179, 246, 255, 226, 288, 253, 252, 262, 236,
       256, 234, 254, 468, 213, 237, 198, 195, 239, 263, 265, 274, 217,
       220, 307, 221, 233, 257, 227, 276, 225, 264, 311, 277, 204, 290,
       266, 270, 294, 319, 282, 251, 322, 291, 269, 240, 271, 184, 231,
       268, 247, 273, 300, 301, 267, 244, 306, 293, 309, 272, 242, 295,
       285, 243, 308, 398, 303, 245, 424, 279, 331, 281, 339, 434, 357,
       325, 329, 278, 332, 343, 345, 360, 348, 367, 353, 373, 374, 406,
       400, 326, 379, 399, 316, 341, 320, 385, 355, 363, 358, 296, 422,
       390, 335, 370, 376, 375, 397, 289, 542, 403, 383, 384, 359, 393,
       337, 362, 365, 435, 386, 378, 313, 351, 287, 471, 462, 411, 450,
       318, 372, 371, 454, 532, 445, 389, 388, 407, 443, 437, 451, 391,
       405, 412, 419, 420, 426, 433, 440, 429, 418, 447, 461, 605, 457,
       475, 464, 482, 626, 489, 496, 503, 510, 517, 524, 531, 538, 545,
       552, 559, 566, 573, 580, 587, 594, 601, 608, 615, 622, 629, 396,
       410, 395, 423, 408, 409, 448, 465, 387, 414, 476, 479, 467, 490,
       493, 478, 504, 507, 458, 518, 521, 377, 444, 380, 463])

In [71]:
# 3rd column
hdf['arrival_date_year'].unique()

array([2015, 2016, 2017])

In [72]:
# 4th column
hdf['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [73]:
# 5th column
hdf['arrival_date_week_number'].unique()

array([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53,  1,  2,  3,  4,  5,  6,  7,
        8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26])

In [74]:
# 6th column
hdf['arrival_date_day_of_month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [75]:
# 7th column
hdf['stays_in_weekend_nights'].unique()

array([ 0,  1,  2,  4,  3,  6, 13,  8,  5,  7, 12,  9, 16, 18, 19, 10, 14])

In [76]:
# 8th column
hdf['stays_in_week_nights'].unique()

array([ 0,  1,  2,  3,  4,  5, 10, 11,  8,  6,  7, 15,  9, 12, 33, 20, 14,
       16, 21, 13, 30, 19, 24, 40, 22, 42, 50, 25, 17, 32, 26, 18, 34, 35,
       41])

In [77]:
# 9th column
hdf['adults'].unique()

array([ 2,  1,  3,  4, 40, 26, 50, 27, 55,  0, 20,  6,  5, 10])

In [78]:
# 10th column
hdf['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [79]:
# 11th column
hdf['babies'].unique()

array([ 0,  1,  2, 10,  9])

In [80]:
# 12th column
hdf['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

In [81]:
# 13th column
hdf['country'].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [82]:
# 14th column
hdf['market_segment'].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

In [83]:
# 15th column
hdf['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

In [84]:
# 16th column
hdf['is_repeated_guest'].unique()

array([0, 1])

In [85]:
# 17th column
hdf['previous_cancellations'].unique()

array([ 0,  1,  2,  3, 26, 25, 14,  4, 24, 19,  5, 21,  6, 13, 11])

In [86]:
# 18th column
hdf['previous_bookings_not_canceled'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 19, 26, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72])

In [87]:
# 19th column
hdf['reserved_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B'], dtype=object)

In [88]:
# 20th column
hdf['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [89]:
# 21st column
hdf['booking_changes'].unique()

array([ 3,  4,  0,  1,  2,  5, 17,  6,  8,  7, 10, 16,  9, 13, 12, 20, 14,
       15, 11, 21, 18])

In [90]:
# 22nd column
hdf['deposit_type'].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [91]:
# 23rd column
hdf['agent'].unique()

array([ nan, 304., 240., 303.,  15., 241.,   8., 250., 115.,   5., 175.,
       134., 156., 243., 242.,   3., 105.,  40., 147., 306., 184.,  96.,
         2., 127.,  95., 146.,   9., 177.,   6., 143., 244., 149., 167.,
       300., 171., 305.,  67., 196., 152., 142., 261., 104.,  36.,  26.,
        29., 258., 110.,  71., 181.,  88., 251., 275.,  69., 248., 208.,
       256., 314., 126., 281., 273., 253., 185., 330., 334., 328., 326.,
       321., 324., 313.,  38., 155.,  68., 335., 308., 332.,  94., 348.,
       310., 339., 375.,  66., 327., 387., 298.,  91., 245., 385., 257.,
       393., 168., 405., 249., 315.,  75., 128., 307.,  11., 436.,   1.,
       201., 183., 223., 368., 336., 291., 464., 411., 481.,  10., 154.,
       468., 410., 390., 440., 495., 492., 493., 434.,  57., 531., 420.,
       483., 526., 472., 429.,  16., 446.,  34.,  78., 139., 252., 270.,
        47., 114., 301., 193., 182., 135., 350., 195., 352., 355., 159.,
       363., 384., 360., 331., 367.,  64., 406., 163., 414., 333., 427.,
       431., 430., 426., 438., 433., 418., 441., 282., 432.,  72., 450.,
       180., 454., 455.,  59., 451., 254., 358., 469., 165., 467., 510.,
       337., 476., 502., 527., 479., 508., 535., 302., 497., 187.,  13.,
         7.,  27.,  14.,  22.,  17.,  28.,  42.,  20.,  19.,  45.,  37.,
        61.,  39.,  21.,  24.,  41.,  50.,  30.,  54.,  52.,  12.,  44.,
        31.,  83.,  32.,  63.,  60.,  55.,  56.,  89.,  87., 118.,  86.,
        85., 210., 214., 129., 179., 138., 174., 170., 153.,  93., 151.,
       119.,  35., 173.,  58.,  53., 133.,  79., 235., 192., 191., 236.,
       162., 215., 157., 287., 132., 234.,  98.,  77., 103., 107., 262.,
       220., 121., 205., 378.,  23., 296., 290., 229.,  33., 286., 276.,
       425., 484., 323., 403., 219., 394., 509., 111., 423.,   4.,  70.,
        82.,  81.,  74.,  92.,  99.,  90., 112., 117., 106., 148., 158.,
       144., 211., 213., 216., 232., 150., 267., 227., 247., 278., 280.,
       285., 289., 269., 295., 265., 288., 122., 294., 325., 341., 344.,
       346., 359., 283., 364., 370., 371.,  25., 141., 391., 397., 416.,
       404., 299., 197.,  73., 354., 444., 408., 461., 388., 453., 459.,
       474., 475., 480., 449.])

In [92]:
# 24th column
hdf['company'].unique()

array([ nan, 110., 113., 270., 178., 240., 154., 144., 307., 268.,  59.,
       204., 312., 318.,  94., 174., 274., 195., 223., 317., 281., 118.,
        53., 286.,  12.,  47., 324., 342., 373., 371., 383.,  86.,  82.,
       218.,  88.,  31., 397., 392., 405., 331., 367.,  20.,  83., 416.,
        51., 395., 102.,  34.,  84., 360., 394., 457., 382., 461., 478.,
       386., 112., 486., 421.,   9., 308., 135., 224., 504., 269., 356.,
       498., 390., 513., 203., 263., 477., 521., 169., 515., 445., 337.,
       251., 428., 292., 388., 130., 250., 355., 254., 543., 531., 528.,
        62., 120.,  42.,  81., 116., 530., 103.,  39.,  16.,  92.,  61.,
       501., 165., 291., 290.,  43., 325., 192., 108., 200., 465., 287.,
       297., 490., 482., 207., 282., 437., 225., 329., 272.,  28.,  77.,
       338.,  72., 246., 319., 146., 159., 380., 323., 511., 407., 278.,
        80., 403., 399.,  14., 137., 343., 346., 347., 349., 289., 351.,
       353.,  54.,  99., 358., 361., 362., 366., 372., 365., 277., 109.,
       377., 379.,  22., 378., 330., 364., 401., 232., 255., 384., 167.,
       212., 514., 391., 400., 376., 402., 396., 302., 398.,   6., 370.,
       369., 409., 168., 104., 408., 413., 148.,  10., 333., 419., 415.,
       424., 425., 423., 422., 435., 439., 442., 448., 443., 454., 444.,
        52., 459., 458., 456., 460., 447., 470., 466., 484., 184., 485.,
        32., 487., 491., 494., 193., 516., 496., 499.,  29.,  78., 520.,
       507., 506., 512., 126.,  64., 242., 518., 523., 539., 534., 436.,
       525., 541.,  40., 455., 410.,  45.,  38.,  49.,  48.,  67.,  68.,
        65.,  91.,  37.,   8., 179., 209., 219., 221., 227., 153., 186.,
       253., 202., 216., 275., 233., 280., 309., 321.,  93., 316.,  85.,
       107., 350., 279., 334., 348., 150.,  73., 385., 418., 197., 450.,
       452., 115.,  46.,  76.,  96., 100., 105., 101., 122.,  11., 139.,
       142., 127., 143., 140., 149., 163., 160., 180., 238., 183., 222.,
       185., 217., 215., 213., 237., 230., 234.,  35., 245., 158., 258.,
       259., 260., 411., 257., 271.,  18., 106., 210., 273.,  71., 284.,
       301., 305., 293., 264., 311., 304., 313., 288., 320., 314., 332.,
       341., 352., 243., 368., 393., 132., 220., 412., 420., 426., 417.,
       429., 433., 446., 357., 479., 483., 489., 229., 481., 497., 451.,
       492.])

In [93]:
# 25th column
hdf['days_in_waiting_list'].unique()

array([  0,  50,  47,  65, 122,  75, 101, 150, 125,  14,  60,  34, 100,
        22, 121,  61,  39,   5,   1,   8, 107,  43,  52,   2,  11, 142,
       116,  13,  44,  97,  83,   4, 113,  18,  20, 185,  93, 109,   6,
        37, 105, 154,  64,  99,  38,  48,  33,  77,  21,  80,  59,  40,
        58,  89,  53,  49,  69,  87,  91,  57, 111,  79,  98,  85,  63,
        15,   3,  41, 224,  31,  56, 187, 176,  71,  55,  96, 236, 259,
       207, 215, 160, 120,  30,  32,  27,  62,  24, 108, 147, 379,  70,
        35, 178, 330, 223, 174, 162, 391,  68, 193,  10,  76,  16,  28,
         9, 165,  17,  25,  46,   7,  84, 175, 183,  23, 117,  12,  54,
        26,  73,  45,  19,  42,  72,  81,  92,  74, 167,  36])

In [94]:
# 26th column
hdf['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [95]:
# 27th column
hdf['adr'].unique()

array([  0.  ,  75.  ,  98.  , ..., 266.75, 209.25, 157.71])

In [96]:
# 28th column
hdf['required_car_parking_spaces'].unique()

array([0, 1, 2, 8, 3])

In [97]:
# 29th column
hdf['total_of_special_requests'].unique()

array([0, 1, 3, 2, 4, 5])

In [98]:
# 30th column
hdf['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [99]:
# 31st column
hdf['reservation_status_date'].unique()

array(['2015-07-01', '2015-07-02', '2015-07-03', '2015-05-06',
       '2015-04-22', '2015-06-23', '2015-07-05', '2015-07-06',
       '2015-07-07', '2015-07-08', '2015-05-11', '2015-07-15',
       '2015-07-16', '2015-05-29', '2015-05-19', '2015-06-19',
       '2015-05-23', '2015-05-18', '2015-07-09', '2015-06-02',
       '2015-07-13', '2015-07-04', '2015-06-29', '2015-06-16',
       '2015-06-18', '2015-06-12', '2015-06-09', '2015-05-26',
       '2015-07-11', '2015-07-12', '2015-07-17', '2015-04-15',
       '2015-05-13', '2015-07-10', '2015-05-20', '2015-05-12',
       '2015-07-14', '2015-06-17', '2015-05-01', '2015-03-30',
       '2015-07-19', '2015-06-03', '2015-06-26', '2015-05-14',
       '2015-07-20', '2015-05-07', '2015-05-28', '2015-04-13',
       '2015-03-25', '2015-07-21', '2015-06-27', '2015-07-18',
       '2015-07-23', '2015-06-08', '2015-06-22', '2015-06-24',
       '2015-03-05', '2015-06-01', '2015-04-24', '2015-07-22',
       '2015-05-27', '2015-04-06', '2015-04-11', '2015-07-25',
       '2015-07-28', '2015-07-29', '2015-06-25', '2015-07-24',
       '2015-06-05', '2015-06-30', '2015-06-13', '2015-06-11',
       '2015-07-30', '2015-07-27', '2015-04-29', '2015-06-04',
       '2015-07-26', '2015-08-01', '2015-08-02', '2015-06-15',
       '2015-04-23', '2015-07-31', '2015-05-25', '2015-08-03',
       '2015-04-17', '2015-08-04', '2015-08-06', '2015-05-15',
       '2015-05-09', '2015-03-17', '2015-05-22', '2015-08-07',
       '2015-04-04', '2015-08-05', '2015-08-08', '2015-08-10',
       '2015-05-04', '2015-06-06', '2015-08-09', '2015-08-15',
       '2015-08-11', '2015-03-28', '2015-08-14', '2015-08-12',
       '2015-08-16', '2015-05-16', '2015-08-21', '2015-08-13',
       '2015-08-17', '2015-04-20', '2015-08-18', '2015-08-23',
       '2015-08-22', '2015-08-19', '2015-08-20', '2015-08-29',
       '2015-03-31', '2015-05-30', '2015-08-25', '2015-04-14',
       '2015-08-24', '2015-03-24', '2015-05-21', '2015-08-28',
       '2015-08-26', '2015-08-27', '2015-08-30', '2015-08-31',
       '2015-09-06', '2015-09-03', '2015-09-04', '2015-09-02',
       '2015-09-01', '2015-09-05', '2015-06-20', '2015-09-07',
       '2015-09-10', '2015-09-11', '2015-09-08', '2015-09-09',
       '2015-09-13', '2015-09-15', '2015-04-10', '2015-01-02',
       '2014-11-18', '2015-09-12', '2015-09-17', '2015-09-14',
       '2015-04-07', '2015-09-19', '2015-09-16', '2015-09-20',
       '2015-01-18', '2015-10-23', '2015-01-22', '2015-01-01',
       '2015-09-22', '2015-09-24', '2015-09-18', '2015-09-21',
       '2015-09-30', '2015-09-25', '2015-09-27', '2015-09-28',
       '2015-10-12', '2015-09-29', '2015-09-23', '2015-10-01',
       '2015-09-26', '2015-04-18', '2015-10-02', '2015-10-04',
       '2015-10-08', '2015-10-03', '2015-10-07', '2015-10-09',
       '2015-10-11', '2015-10-05', '2015-10-06', '2015-10-10',
       '2015-10-14', '2015-10-15', '2015-10-18', '2015-10-13',
       '2015-10-20', '2015-10-19', '2015-10-31', '2015-10-16',
       '2015-10-21', '2015-10-22', '2015-10-17', '2015-10-24',
       '2015-10-25', '2015-10-28', '2015-10-27', '2015-10-26',
       '2015-10-30', '2015-11-05', '2015-10-29', '2015-11-03',
       '2015-11-07', '2015-11-04', '2015-11-01', '2015-11-02',
       '2015-11-17', '2015-11-06', '2015-11-10', '2015-11-08',
       '2015-11-09', '2015-11-15', '2015-11-16', '2015-11-11',
       '2015-11-12', '2015-11-14', '2015-11-13', '2015-11-18',
       '2015-11-22', '2015-11-19', '2015-11-21', '2015-11-20',
       '2015-11-24', '2015-11-25', '2015-11-23', '2015-11-28',
       '2015-11-26', '2015-11-27', '2015-11-29', '2015-12-04',
       '2015-12-01', '2015-12-06', '2015-12-08', '2015-12-02',
       '2015-12-03', '2015-12-31', '2015-12-05', '2015-12-10',
       '2015-12-17', '2015-11-30', '2015-12-12', '2015-12-07',
       '2016-01-05', '2015-12-11', '2015-12-13', '2015-12-15',
       '2015-12-16', '2015-12-19', '2015-12-18', '2015-12-26',
       '2015-12-27', '2015-12-22', '2015-12-23', '2015-12-24',
       '2015-12-29', '2015-12-28', '2015-12-20', '2015-12-30',
       '2016-01-02', '2016-01-01', '2015-12-25', '2016-01-03',
       '2016-01-04', '2016-01-11', '2016-01-07', '2015-12-21',
       '2016-01-09', '2016-01-10', '2016-01-08', '2016-01-06',
       '2016-01-12', '2016-01-13', '2016-01-23', '2016-02-09',
       '2016-01-15', '2016-01-16', '2016-01-17', '2016-01-19',
       '2016-01-18', '2016-01-21', '2016-01-24', '2016-01-22',
       '2016-01-29', '2016-01-27', '2016-01-25', '2016-03-08',
       '2016-01-26', '2016-01-20', '2016-01-30', '2016-02-01',
       '2016-02-02', '2016-02-08', '2016-02-07', '2016-01-28',
       '2016-02-05', '2016-02-03', '2016-02-13', '2016-02-10',
       '2016-02-04', '2016-02-12', '2016-02-11', '2016-02-16',
       '2016-02-14', '2016-02-15', '2016-02-20', '2016-02-06',
       '2016-01-14', '2016-02-17', '2016-02-21', '2016-02-24',
       '2016-02-25', '2016-02-19', '2016-02-18', '2016-02-26',
       '2016-02-23', '2016-03-05', '2016-02-22', '2016-02-27',
       '2016-03-03', '2016-03-24', '2016-03-04', '2016-02-29',
       '2016-03-01', '2016-03-02', '2016-03-30', '2016-03-07',
       '2016-03-14', '2016-03-21', '2016-03-09', '2016-03-12',
       '2016-03-22', '2016-03-10', '2016-03-11', '2016-03-20',
       '2016-03-15', '2016-03-17', '2016-03-16', '2016-03-19',
       '2016-03-27', '2016-03-18', '2016-03-26', '2016-03-31',
       '2016-03-28', '2016-03-29', '2016-04-01', '2016-03-23',
       '2016-04-02', '2016-03-25', '2016-03-13', '2016-04-04',
       '2016-04-03', '2016-04-05', '2016-04-08', '2016-04-06',
       '2016-04-09', '2016-04-12', '2016-04-16', '2016-04-17',
       '2016-04-27', '2016-04-14', '2016-04-18', '2016-04-21',
       '2016-04-19', '2016-04-20', '2016-04-10', '2016-04-13',
       '2016-04-11', '2016-04-07', '2016-04-15', '2016-04-22',
       '2016-04-23', '2016-04-26', '2016-04-28', '2016-04-24',
       '2016-04-25', '2016-04-29', '2016-04-30', '2016-05-01',
       '2016-05-10', '2016-05-02', '2016-05-07', '2016-05-08',
       '2016-05-12', '2016-05-04', '2016-05-06', '2016-05-03',
       '2016-05-09', '2016-05-05', '2016-05-13', '2016-05-14',
       '2016-05-18', '2016-05-19', '2016-05-15', '2016-05-16',
       '2016-05-11', '2016-05-21', '2016-05-22', '2016-05-20',
       '2016-05-24', '2016-05-25', '2016-05-26', '2016-05-23',
       '2016-05-27', '2016-05-17', '2016-05-29', '2016-05-28',
       '2016-05-30', '2016-05-31', '2016-06-01', '2016-06-03',
       '2016-06-08', '2016-06-02', '2016-06-05', '2016-06-06',
       '2016-06-13', '2016-06-07', '2016-06-10', '2016-06-11',
       '2016-06-16', '2016-06-12', '2016-06-14', '2016-06-17',
       '2016-06-04', '2016-06-18', '2016-06-21', '2016-06-09',
       '2016-06-24', '2016-06-20', '2016-06-25', '2016-06-22',
       '2016-06-26', '2016-06-23', '2016-07-01', '2016-06-15',
       '2016-06-28', '2016-07-02', '2016-06-19', '2016-06-27',
       '2016-07-04', '2016-06-30', '2016-07-05', '2016-07-08',
       '2016-07-09', '2016-07-07', '2016-07-12', '2016-06-29',
       '2016-07-10', '2016-07-15', '2016-07-03', '2016-07-16',
       '2016-07-14', '2016-07-18', '2016-07-13', '2016-07-06',
       '2016-07-20', '2016-07-21', '2016-07-23', '2016-07-19',
       '2016-07-11', '2016-07-28', '2016-07-17', '2016-07-25',
       '2016-07-22', '2016-07-29', '2016-08-03', '2016-08-02',
       '2016-08-04', '2016-08-08', '2016-08-10', '2016-08-01',
       '2016-08-06', '2016-03-06', '2016-08-05', '2016-07-26',
       '2016-08-07', '2016-07-30', '2016-07-24', '2016-08-12',
       '2016-07-27', '2016-08-13', '2016-08-18', '2016-08-16',
       '2016-08-15', '2016-08-17', '2016-08-11', '2016-07-31',
       '2016-08-19', '2016-09-01', '2016-08-23', '2016-08-26',
       '2016-08-20', '2016-08-21', '2016-09-04', '2016-08-22',
       '2016-08-27', '2016-08-25', '2016-08-09', '2016-09-05',
       '2016-08-24', '2016-09-10', '2016-08-29', '2016-09-09',
       '2016-08-30', '2016-09-13', '2016-08-31', '2016-09-14',
       '2016-09-12', '2016-09-15', '2016-08-14', '2016-09-02',
       '2016-09-08', '2016-09-19', '2016-09-16', '2016-09-07',
       '2016-09-21', '2016-09-06', '2016-09-22', '2016-09-17',
       '2016-09-20', '2016-09-03', '2016-09-26', '2016-09-23',
       '2016-09-18', '2016-09-29', '2016-10-02', '2016-10-01',
       '2016-09-27', '2016-09-25', '2016-10-05', '2016-09-11',
       '2016-09-30', '2016-10-09', '2016-10-03', '2016-10-06',
       '2016-10-11', '2016-09-24', '2016-10-13', '2016-09-28',
       '2016-10-08', '2016-10-07', '2016-10-16', '2016-08-28',
       '2016-10-17', '2016-10-18', '2016-10-10', '2016-10-04',
       '2016-10-15', '2016-10-19', '2016-10-21', '2016-10-12',
       '2016-10-24', '2016-10-26', '2016-10-23', '2016-10-20',
       '2016-10-25', '2016-10-27', '2016-10-28', '2016-10-30',
       '2016-10-29', '2016-11-01', '2016-11-04', '2016-10-14',
       '2016-11-07', '2016-11-03', '2016-11-10', '2016-11-14',
       '2016-11-02', '2016-10-31', '2016-11-11', '2016-11-08',
       '2016-11-05', '2016-11-25', '2016-11-09', '2016-11-20',
       '2016-11-21', '2016-10-22', '2016-11-22', '2016-11-16',
       '2016-11-23', '2016-11-17', '2016-11-06', '2016-11-15',
       '2016-11-13', '2016-11-12', '2016-11-27', '2016-11-19',
       '2016-11-30', '2016-11-18', '2016-12-02', '2016-12-04',
       '2016-11-29', '2016-12-07', '2016-11-28', '2016-12-03',
       '2016-12-06', '2016-11-24', '2016-12-08', '2016-12-05',
       '2016-12-10', '2016-12-13', '2016-12-14', '2016-12-16',
       '2016-12-15', '2016-12-17', '2016-12-19', '2016-12-21',
       '2016-12-20', '2016-12-22', '2016-12-23', '2016-12-24',
       '2016-12-01', '2016-12-27', '2016-12-29', '2016-12-30',
       '2016-12-12', '2017-01-02', '2016-12-11', '2017-01-03',
       '2017-01-04', '2017-01-01', '2016-12-26', '2017-01-06',
       '2016-12-28', '2016-12-18', '2017-01-10', '2017-01-11',
       '2017-01-07', '2017-01-12', '2017-01-16', '2017-01-14',
       '2017-01-13', '2017-01-05', '2017-01-17', '2017-01-20',
       '2016-12-09', '2017-01-26', '2016-12-31', '2017-01-23',
       '2017-01-27', '2017-01-28', '2017-01-19', '2017-01-25',
       '2017-01-24', '2017-01-29', '2017-01-18', '2016-12-25',
       '2017-01-15', '2017-01-21', '2017-02-01', '2017-02-02',
       '2017-01-31', '2017-02-03', '2017-02-04', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-01-30', '2017-02-09',
       '2017-01-09', '2017-02-11', '2017-02-10', '2017-02-12',
       '2017-02-13', '2017-02-14', '2017-02-16', '2017-02-17',
       '2017-02-18', '2017-02-19', '2017-02-20', '2017-02-15',
       '2017-02-21', '2017-02-22', '2017-02-26', '2017-02-23',
       '2017-02-24', '2017-02-25', '2017-02-28', '2017-03-05',
       '2017-02-27', '2017-03-03', '2017-03-06', '2017-03-02',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-07',
       '2017-03-12', '2017-03-13', '2017-03-14', '2017-03-01',
       '2017-03-18', '2017-03-17', '2017-03-24', '2017-03-22',
       '2017-03-26', '2017-03-27', '2017-03-11', '2017-03-28',
       '2017-03-29', '2017-03-30', '2017-03-31', '2017-03-19',
       '2017-01-22', '2017-04-02', '2017-03-20', '2017-04-03',
       '2017-01-08', '2017-03-23', '2017-04-05', '2017-02-05',
       '2017-04-04', '2017-03-15', '2017-04-07', '2017-03-25',
       '2017-04-08', '2017-04-06', '2017-03-21', '2017-04-10',
       '2017-04-01', '2017-04-11', '2017-04-13', '2017-04-15',
       '2017-04-12', '2017-03-04', '2017-04-19', '2017-04-22',
       '2017-04-20', '2017-05-02', '2017-04-09', '2017-04-23',
       '2017-04-24', '2017-04-16', '2017-04-28', '2017-04-18',
       '2017-04-26', '2017-04-25', '2017-04-17', '2017-04-21',
       '2017-05-03', '2017-05-04', '2017-03-16', '2017-05-05',
       '2017-04-29', '2017-04-14', '2017-05-08', '2017-04-27',
       '2017-05-11', '2017-05-01', '2017-05-10', '2017-05-13',
       '2017-05-06', '2017-05-14', '2017-05-16', '2017-04-30',
       '2017-05-15', '2017-05-07', '2017-05-09', '2017-05-17',
       '2017-05-21', '2017-05-12', '2017-05-22', '2017-05-24',
       '2017-05-23', '2017-05-25', '2017-05-26', '2017-05-28',
       '2017-05-27', '2017-05-29', '2017-05-19', '2017-05-31',
       '2017-05-20', '2017-06-01', '2017-05-30', '2017-06-02',
       '2016-11-26', '2017-06-04', '2017-06-05', '2017-06-06',
       '2017-06-07', '2017-05-18', '2017-06-09', '2017-06-10',
       '2017-06-11', '2017-06-12', '2017-06-14', '2017-06-08',
       '2017-06-16', '2017-06-13', '2017-06-03', '2017-06-24',
       '2017-06-20', '2017-06-19', '2017-06-21', '2017-06-26',
       '2017-06-27', '2017-06-22', '2017-06-28', '2017-06-15',
       '2017-06-29', '2017-06-30', '2017-06-18', '2017-07-04',
       '2017-07-08', '2017-07-05', '2017-07-03', '2017-07-07',
       '2017-07-01', '2017-07-06', '2017-07-11', '2017-07-12',
       '2017-06-23', '2017-07-13', '2017-07-02', '2017-07-10',
       '2017-07-14', '2017-07-15', '2017-07-16', '2017-07-18',
       '2017-07-17', '2017-07-19', '2017-07-20', '2017-07-21',
       '2017-06-25', '2017-06-17', '2017-07-24', '2017-07-26',
       '2017-07-09', '2017-07-27', '2017-07-28', '2017-07-31',
       '2017-07-29', '2017-07-22', '2017-08-02', '2017-08-01',
       '2017-08-03', '2017-08-04', '2017-07-25', '2017-07-23',
       '2017-08-09', '2017-08-10', '2017-07-30', '2017-08-07',
       '2017-08-13', '2017-08-05', '2017-08-14', '2017-08-08',
       '2017-08-16', '2017-08-17', '2017-08-15', '2017-08-18',
       '2017-08-20', '2017-08-22', '2017-08-06', '2017-08-25',
       '2017-08-26', '2017-08-23', '2017-08-11', '2017-08-27',
       '2017-08-21', '2017-08-29', '2017-08-31', '2017-08-12',
       '2017-08-19', '2016-01-31', '2017-09-01', '2017-08-28',
       '2015-04-03', '2015-01-21', '2015-01-28', '2015-01-29',
       '2015-01-30', '2015-02-02', '2015-02-05', '2015-02-06',
       '2015-02-09', '2015-02-10', '2015-02-11', '2015-02-12',
       '2015-02-19', '2015-02-20', '2015-02-23', '2015-02-24',
       '2015-02-25', '2015-02-26', '2015-02-27', '2015-03-03',
       '2015-03-04', '2015-03-06', '2015-03-09', '2015-03-11',
       '2015-03-12', '2015-03-18', '2015-04-02', '2015-06-14',
       '2015-04-08', '2015-04-16', '2015-04-25', '2015-04-28',
       '2015-05-08', '2017-09-06', '2016-02-28', '2015-12-09',
       '2015-12-14', '2017-09-09', '2017-09-02', '2017-08-24',
       '2017-08-30', '2017-09-03', '2017-09-04', '2017-09-05',
       '2017-09-07', '2017-09-08', '2017-09-10', '2017-09-12',
       '2017-09-14', '2015-04-30', '2015-04-21', '2015-04-05',
       '2015-03-13', '2015-05-05', '2015-03-29', '2015-06-10',
       '2015-04-27', '2014-10-17', '2015-01-20', '2015-02-17',
       '2015-03-10', '2015-03-23'], dtype=object)

# Data cleaning process
1. Deal with columns name and give a proper name to columns.
2. Deal with duplicate rows if any
3. Deal with null data or missing value 
4. Change datatype of column if needed like children is object dtype but should be in a int type.
5. merge column for date, month, and year.

# 1.Deal with columns name and give a proper name to columns.

In [100]:
# giving proper name to columns
hdf.columns=['hotel','booking_cancel_status','lead_time','arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month',
             'stays_in_weekend_nights','stays_in_week_nights','no_of_adults','no_of_children','no_of_babies','meal_type','country','market_segment',
             'distribution_channel','repeated_guest_status','no_of_previous_cancellations','no_of_previous_booking_not_cancelled',
             'reserved_room_type','assigned_room_type','no_of_booking_changes','deposit_type','agent_id','company_id',
             'no_of_days_in_waiting_list','customer_type','average_daily_rate','required_no_of_car_parking_space',
             'total_no_of_special_requests','reservation_status','reservation_status_date']

In [101]:
hdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   hotel                                 119390 non-null  object
 1   booking_cancel_status                 119390 non-null  int64
 2   lead_time                             119390 non-null  int64
 3   arrival_date_year                     119390 non-null  int64
 4   arrival_date_month                    119390 non-null  object
 5   arrival_date_week_number              119390 non-null  int64
 6   arrival_date_day_of_month             119390 non-null  int64
 7   stays_in_weekend_nights               119390 non-null  int64
 8   stays_in_week_nights                  119390 non-null  int64
 9   no_of_adults                          119390 non-null  int64
 10  no_of_children                        119386 non-null  float64
 11  no_of_babies                          119390 non-null  int64
 12  meal_type                             119390 non-null  object
 13  country                               118902 non-null  object
 14  market_segment                        119390 non-null  object
 15  distribution_channel                  119390 non-null  object
 16  repeated_guest_status                 119390 non-null  int64
 17  no_of_previous_cancellations          119390 non-null  int64
 18  no_of_previous_booking_not_cancelled  119390 non-null  int64
 19  reserved_room_type                    119390 non-null  object
 20  assigned_room_type                    119390 non-null  object
 21  no_of_booking_changes                 119390 non-null  int64
 22  deposit_type                          119390 non-null  object
 23  agent_id                              103050 non-null  float64
 24  company_id                            6797 non-null    float64
 25  no_of_days_in_waiting_list            119390 non-null  int64
 26  customer_type                         119390 non-null  object
 27  average_daily_rate                    119390 non-null  float64
 28  required_no_of_car_parking_space      119390 non-null  int64
 29  total_no_of_special_requests          119390 non-null  int64
 30  reservation_status                    119390 non-null  object
 31  reservation_status_date               119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

#2. Deal with duplicate rows and columns

In [102]:
# booking_mode and distribution_channel are same so we are going to drop distribution_channel
hdf.drop(['distribution_channel'],axis=1,inplace=True)

In [103]:
# we are going to find out, how many duplicate rows are their.
hdf[hdf.duplicated()].shape

(31999, 31)

In [104]:
# droping the duplicate rows
hdf.drop_duplicates(inplace = True)

In [105]:
hdf.drop(['company_id'],axis=1,inplace=True)

In [106]:
# shape after cleaning the duplicate rows
hdf.shape

(87391, 30)

In [107]:
hdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87391 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   hotel                                 87391 non-null  object
 1   booking_cancel_status                 87391 non-null  int64
 2   lead_time                             87391 non-null  int64
 3   arrival_date_year                     87391 non-null  int64
 4   arrival_date_month                    87391 non-null  object
 5   arrival_date_week_number              87391 non-null  int64
 6   arrival_date_day_of_month             87391 non-null  int64
 7   stays_in_weekend_nights               87391 non-null  int64
 8   stays_in_week_nights                  87391 non-null  int64
 9   no_of_adults                          87391 non-null  int64
 10  no_of_children                        87387 non-null  float64
 11  no_of_babies                          87391 non-null  int64
 12  meal_type                             87391 non-null  object
 13  country                               86939 non-null  object
 14  market_segment                        87391 non-null  object
 15  repeated_guest_status                 87391 non-null  int64
 16  no_of_previous_cancellations          87391 non-null  int64
 17  no_of_previous_booking_not_cancelled  87391 non-null  int64
 18  reserved_room_type                    87391 non-null  object
 19  assigned_room_type                    87391 non-null  object
 20  no_of_booking_changes                 87391 non-null  int64
 21  deposit_type                          87391 non-null  object
 22  agent_id                              75202 non-null  float64
 23  no_of_days_in_waiting_list            87391 non-null  int64
 24  customer_type                         87391 non-null  object
 25  average_daily_rate                    87391 non-null  float64
 26  required_no_of_car_parking_space      87391 non-null  int64
 27  total_no_of_special_requests          87391 non-null  int64
 28  reservation_status                    87391 non-null  object
 29  reservation_status_date               87391 non-null  object
dtypes: float64(3), int64(16), object(11)
memory usage: 20.7+ MB

#3. Deal with null data or missing value

In [108]:
hdf['no_of_children']=hdf.no_of_children.fillna(hdf.no_of_children.mean())  # replacing null value in no_of_children column with mean of no_of_children column
hdf['agent_id']=hdf.agent_id.fillna('0')                                    # replacing null values in agent_id column with 0 
hdf['country']=hdf.country.fillna('others')                                 # # replacing null values in company column with others

#4. Change datatype of column if needed

In [109]:
# converting no_of_children, agent_id and company_id columns into int type.
hdf[['no_of_children','agent_id']]=hdf[['no_of_children','agent_id']].astype('int64')

In [110]:
# converting reservation_status_data into datetime type.
hdf['reservation_status_date']=hdf['reservation_status_date'].apply(lambda x : datetime.strptime(x,'%Y-%m-%d'))

#5. merge columns (like [booking_day, booking_month, booking_year], [no_of_adults, no_of_children, no_of_babies] and [stays_in_weekend_nights,  stays_in_week_nights])

In [111]:
# first converting year, month and date into string then we will join them because we can't join data in int or float format
hdf['arrival_date']=hdf[['arrival_date_year','arrival_date_month','arrival_date_day_of_month']].astype('str').apply(lambda x: '-'.join(x),axis=1)

In [113]:
# now converting booking_date column from str to datetime type.
hdf['arrival_date']=hdf['arrival_date'].apply(lambda x : datetime.strptime(x,'%Y-%B-%d'))

In [114]:
# finding out, how many people are there in a group and storing in total_no_of_group 
hdf['total_no_in_group']=hdf['no_of_adults'] + hdf['no_of_children'] +hdf['no_of_babies']

In [115]:
hdf['total_no_of_stays']=hdf['stays_in_week_nights'] + hdf['stays_in_weekend_nights']

In [116]:
hdf.iloc[:20,7:] #looking data for confirmation

,stays_in_weekend_nights,stays_in_week_nights,no_of_adults,no_of_children,no_of_babies,meal_type,country,market_segment,repeated_guest_status,no_of_previous_cancellations,...,no_of_days_in_waiting_list,customer_type,average_daily_rate,required_no_of_car_parking_space,total_no_of_special_requests,reservation_status,reservation_status_date,arrival_date,total_no_in_group,total_no_of_stays
0,0,0,2,0,0,BB,PRT,Direct,0,0,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01,2,0
1,0,0,2,0,0,BB,PRT,Direct,0,0,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01,2,0
2,0,1,1,0,0,BB,GBR,Direct,0,0,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01,1,1
3,0,1,1,0,0,BB,GBR,Corporate,0,0,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01,1,1
4,0,2,2,0,0,BB,GBR,Online TA,0,0,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01,2,2
6,0,2,2,0,0,BB,PRT,Direct,0,0,...,0,Transient,107.00,0,0,Check-Out,2015-07-03,2015-07-01,2,2
7,0,2,2,0,0,FB,PRT,Direct,0,0,...,0,Transient,103.00,0,1,Check-Out,2015-07-03,2015-07-01,2,2
8,0,3,2,0,0,BB,PRT,Online TA,0,0,...,0,Transient,82.00,0,1,Canceled,2015-05-06,2015-07-01,2,3
9,0,3,2,0,0,HB,PRT,Offline TA/TO,0,0,...,0,Transient,105.50,0,0,Canceled,2015-04-22,2015-07-01,2,3
10,0,4,2,0,0,BB,PRT,Online TA,0,0,...,0,Transient,123.00,0,0,Canceled,2015-06-23,2015-07-01,2,4
11,0,4,2,0,0,HB,PRT,Online TA,0,0,...,0,Transient,145.00,0,0,Check-Out,2015-07-05,2015-07-01,2,4
12,0,4,2,0,0,BB,USA,Online TA,0,0,...,0,Transient,97.00,0,3,Check-Out,2015-07-05,2015-07-01,2,4
13,0,4,2,1,0,HB,ESP,Online TA,0,0,...,0,Transient,154.77,0,1,Check-Out,2015-07-05,2015-07-01,3,4
14,0,4,2,0,0,BB,PRT,Online TA,0,0,...,0,Transient,94.71,0,0,Check-Out,2015-07-05,2015-07-01,2,4
15,0,4,2,0,0,BB,IRL,Online TA,0,0,...,0,Transient,97.00,0,3,Check-Out,2015-07-05,2015-07-01,2,4
16,0,4,2,0,0,BB,PRT,Offline TA/TO,0,0,...,0,Contract,97.50,0,0,Check-Out,2015-07-05,2015-07-01,2,4
17,0,1,2,0,0,BB,IRL,Online TA,0,0,...,0,Transient,88.20,0,0,Check-Out,2015-07-02,2015-07-01,2,1
18,0,1,2,0,0,BB,FRA,Corporate,0,0,...,0,Transient,107.42,0,0,Check-Out,2015-07-02,2015-07-01,2,1
19,0,4,2,0,0,BB,GBR,Direct,0,0,...,0,Transient,153.00,0,1,Check-Out,2015-07-05,2015-07-01,2,4
20,1,4,1,0,0,BB,GBR,Online TA,0,0,...,0,Transient,97.29,0,1,Check-Out,2015-07-06,2015-07-01,1,5